/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #8b5cf6;
  color: white;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: rgba(129, 140, 248, 1) !important;
}

input[type="radio"]:checked + label {
  background: #4f46e5;
  color: #fff;
  border:none
}

input[type="checkbox"]:checked + label {
  background: #4f46e5;
  color: #fff;
  border:none
}

.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
}

.sidebar {
  scrollbar-width: 2px;
  scrollbar-color: rgb(216, 216, 216) rgba(0, 0, 0, 0);
}